/build-aux
/log4cpp.properties
/src/*/*.o
/src/*/*.deps
/src/*/*.dirstamp
/src/proto/*.pb.h
/src/proto/*.pb.cc
.deps/*
FzDAQ-mt
FzController
FzTransmitter
Makefile
Makefile.in
autom4te.cache/*
aclocal.m4
config.log
config.status
configure
compile
depcomp
install-sh
logs/*
missing
pbout/*
plugins/epics/*.pyc
plugins/ganil-ecc/*.pyc
plugins/pyproto/*.pyc
utils/*.pyc
plugins/pyproto/*_pb2.py
utils/*_pb2.py
utils/read-fazia-pb
utils/publish-fazia-pb
